
:root{
    --main-color: #3EB9FF;
    --sub-color: #969696;
    --sub2-color: #C6C6C6;
    --sub3-color: #EFEFEF;
    --sub4-color: #616161;
    --main-font: 'Poppins', sans-serif;
    --main-margin: 2rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-appearance: none;

}
main{
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left top, var(--main-color),#6bc9ff);
}
h1{
    color:var(--main-color);
    font-family: var(--main-font);
}
h2{
    color: var(--sub-color);
    font-family: var(--main-font);
}
h3{
    color: var(--sub2-color);
    font-family: var(--main-font);
    font-size: 1.5rem;
}
h4{
    color:white;
    font-family: var(--main-font);
    font-size: 2rem;
}
h5{
    color: var(--sub-color);
    font-family: var(--main-font);
    font-size: 0.9rem;
}
h6{
    /* rgba(255, 0, 0, 0.678); */
    color:var(--sub3-color);
    font-family: var(--main-font);
    font-size: 1.2rem;
}
/* Icons */
.fas{
    color:white;
    
}
/* Close button icon */
.fas.fa-times{
    color:var(--sub-color);
}
input{
    padding-left: 1rem;
    height: 3rem;
    border: 2px solid var(--sub2-color);
    border-radius: 0.5rem; 
    font-family: var(--main-font);
    color: var(--sub4-color);
    font-size: 1rem;
}

/* Button styling; animation Starts*/
button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    color: white;
    height: 4rem;
    border-width: 0;
    border-radius: 0.5rem;
    padding: 0.8rem;
    cursor: pointer;
} 
button:hover{
    background-color: #75cdff;
}
button span {
    cursor: pointer;
    transition: 0.5s;
}

button:hover span {
    padding-right: 25px;
    padding-left: 25px;
}
  
.Screen{
    display: block;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 80vh;
    background: rgba(255,255,255,1);
    min-width: 400px;
    border-radius: 1rem;

}
.admin-other-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.other-button{
    margin-top: var(--main-margin);
    background-color: var(--sub-color);
}
.other-button:hover{
    background-color: var(--sub2-color);
}
.close-button{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 3rem;
    right: 2rem;
    
    
} 
#close-button{

    height: 0;
    width: 0;
    background-color: white;
    
}
.screen-heading{
    position: absolute;
    top: 3rem;
    padding-left:2rem;
}
.info-cards{
    flex: 1.3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: var(--main-margin);
}

/* Card with content "Since 24/01/2020" */
.info-card{
    background-color: var(--sub3-color);
    display: flex;
    align-items: center;
    height: 4rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
    margin:0.2rem;
}
.info-card-header{
    flex: 1;
}
.info-card-data{
    flex: 1;
}
/* Card with content Links & Strikes*/
.info-card-with-button{
    background-color: var(--sub3-color);
    display: flex;
    align-items: center;
    height: 4rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
    justify-content: space-between;
    margin:0.2rem;
}
.card-2-header{
    flex: 1.6;
}
.card-2-data{
    flex: 1;
}

.card-2-button{
    flex: 1;
    height: 100%;
}
.buy-button{
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
#profile-screen{
    display: none;
}
#feedback-header-div{
display: flex;
}
#feedback{
    color:rgba(255, 0, 0, 0.678);
    max-width: 250px;
    max-height: 2.7rem;
    white-space: wrap;
    overflow: hidden;
    
}
.log-in-card{
    display: flex;
    flex-direction: column;
    flex: 1.5;
    justify-content: center;
    padding-bottom: 2rem;
    
}
#log-out{
    margin: var(--main-margin);
    align-self: flex-start;
    
}
.label_and_input{
    display: flex;
    flex-direction: column;
    height: 5rem;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right:  2rem;
}
#search-screen{
    justify-content: center;
  
}
.search-heading{
    flex-direction: column;
    position: absolute;
    top: 3rem;
}
#search-box{  
    margin-top: 15rem;
 

}
.search-results{
    margin: var(--main-margin);   
    overflow:auto;
    height: 15rem;
    
}
.search-result{
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--sub3-color);
    color: var(--main-color);
    height: 50px;
    padding-left: 1rem;
    border-radius: .5rem ;
    margin-top: 1rem;
}
.search-profile-button{
    position: absolute;
    height: 100%;
    right:0;
}
.search-button-div{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    
}
/* History Screen */
.full-history-div{
    flex: 1 1 1vh; 
    overflow-y: auto; 
    margin-bottom: 2rem;
    border-radius: 2rem; 
}
.history1-div{
    background-color: #EFEFEF;
    border-radius: 1rem;
    padding: 1rem;
    margin: 2rem;
    position: relative;
}
.history-h3{
    font-size: 1rem;
}
.history-card-bottom{
    font-size: 0.8rem;
    position: absolute;
    bottom:-1.2rem;
}
.expiring{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
.active{
    background-color: rgb(59, 221, 59); 
    padding: 0.5rem; 
    border-radius: 0.5rem;
}
.history1-div h4{
    font-size: 1.5rem;
}
@media (max-width: 768px){
    main{
        background: white ;
    }
    :root{
        --main-margin: 1rem;
    }
}
@media (max-width: 360px){
    .Screen{
        min-width: 300px;
        
    }
    :root{
        --main-margin: 1rem;
    }
    #history-screen{
        display: block;
    }
}
.landscape-error{
    height: 0;
    width: 0;
}
.landscape-error h1{
    opacity: 0;
}  
@media(max-width: 768px){
    :root{
        --main-margin: 1rem;
    }

    @media (orientation: landscape ){
        .landscape-error{
            background-color: black;
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
        }
        .landscape-error h1{
            opacity: 1;
        } 
    }
}
@media (max-height: 800px){
    main{
        background: white ;
    }
    .Screen{
        min-height: 100vh;
        height: 100vh;
    }
    :root{
        --main-margin: 1rem;
    }
    
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--sub2-color);
    opacity: 1; /* Firefox */
    font-family: var(--main-font);
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--sub2-color);
    font-family: var(--main-font);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--sub2-color);
    font-family: var(--main-font);
  }